[Desktop Entry]
Name=KXSLDbg
Name[sv]=Kxsldbg
Name[ta]=KXSLDபிஜி
GenericName=XSLT Debugger
GenericName[bg]=Дебъгер XSLT
GenericName[br]=Dizraener XSLT
GenericName[ca]=Depurador XSLT
GenericName[cs]=XSLT debugger
GenericName[da]=XSLT-Fejlretter
GenericName[de]=XSLT-Debugger
GenericName[el]=Αποσφαλματωτής XSLT
GenericName[es]=Depurador XSLT
GenericName[et]=XSLT silur
GenericName[eu]=XSLT araztailea
GenericName[fa]=اشکال‌زدای XSLT
GenericName[fi]=XSLT debuggeri
GenericName[fr]=Débogueur XSLT
GenericName[ga]=Dífhabhtóir XSLT
GenericName[gl]=Depurador XSLT
GenericName[hi]=XSLT डिबगर
GenericName[hu]=XSLT-nyomkövető
GenericName[is]=XSLT aflúsari
GenericName[it]=Debugger per XSLT
GenericName[ja]=XSLT デバッガ
GenericName[lt]=XSLT derintuvė
GenericName[ms]=Penyahralat XSLT
GenericName[nds]=XSLT-Fehlersöker
GenericName[ne]=त्रुटिमोचक एक्सएसएलटी
GenericName[nl]=XSLT-debugger
GenericName[pl]=Debuger XSLT
GenericName[pt]=Depuração de XSLT
GenericName[pt_BR]=Debugger para XSLT
GenericName[ro]=Depanator XSLT
GenericName[ru]=Отладчик XSLT
GenericName[sk]=XSLT debuger
GenericName[sl]=Razhroščevalnik XSLT
GenericName[sr]=Исправљач XSLT-а
GenericName[sr@Latn]=Ispravljač XSLT-a
GenericName[sv]=XSLT-felsökare
GenericName[ta]=XSLT வழுநீக்குபவர்
GenericName[tg]=Ғалатёби XSLT
GenericName[tr]=XSLT Hata Ayıklayıcısı
GenericName[uk]=Зневаджувач XSLT
GenericName[zh_CN]=XSLT 调试器
GenericName[zh_HK]=XSLT 除錯器
GenericName[zh_TW]=XSLT 除錯器
Exec=kxsldbg %i %m -caption "%c"
Icon=kxsldbg
Type=Application
DocPath=kxsldbg/index.html
Terminal=false
Categories=Qt;KDE;Development;WebDevelopment;
